# --- ROS 2 colcon workspace ---
/build/
/install/
/log/
/**/build/
/**/install/
/**/log/

# --- Python ---
__pycache__/
*.py[cod]
*.egg-info/
*.eggs/
dist/
build/
*.so

# --- Virtual envs ---
.venv/
venv/
.env

# --- Editors / OS ---
.vscode/
.idea/
.DS_Store
Thumbs.db
/src/kr360_ros2/
/src/ros-controls/gazebo_ros2_control/
/src/kr360_ros2/
/src/ros-controls/gazebo_ros2_control/
